PURE_WS_DOMAIN="your.pure.domain"
PURE_WS_KEY="your-pure-generated-api-key"
PURE_WS_VERSION="524" # Version 5.24; omit any dots/decimal points.

EXPERTS_DB_USER="your-username"
EXPERTS_DB_PASS="your-password"
EXPERTS_DB_HOSTNAME="your.database.domain"
EXPERTS_DB_PORT="your-database-port"
EXPERTS_DB_SERVICE_NAME="your-databse-service-name"

SCOPUS_API_DOMAIN="your.scopus.domain"
SCOPUS_API_KEY="your-scopus-api-key"
SCOPUS_API_INST_TOKEN="your-scopus-api-institutional-token"
SCOPUS_API_AFFILIATION_ID="your organization's Scopus affiliation ID"
