PURE_WS_DOMAIN="your.pure.domain"
PURE_WS_KEY="your-pure-generated-api-key"
PURE_WS_VERSION="524" # Version 5.24; omit any dots/decimal points.

SCOPUS_API_DOMAIN="your.scopus.domain"
SCOPUS_API_KEY="your-scopus-api-key"
SCOPUS_API_AFFILIATION_ID="your organization's Scopus affiliation ID"
